body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

button {
  margin: 0 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}